.side-bar {
  font-size: x-large;
  width: 28%;
  height: 100vh;
  background-color: #98AC37;
  color: white;
  position: fixed;
  top: 5em;
}

.members {
  margin: 20px;
}

.flex-aside {
  display: flex;
}

#background {
  background-color: #C4C4C4;
  flex: 1;
  margin-top: 7em;
  margin-left: 28%;
}

#myHeader {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.your-name {
  font-size: small;
}