.side-bar {
  font-size: x-large;
  width: 28%;
  height: 100vh;
  background-color: #259185;
  color: white;
  position: fixed;
  top: 2.76em;
}

.members {
  margin: 20px;
}

.flex-aside {
  display: flex;
}

#background {
  background-color: rgb(221, 217, 217);
  flex: 1;
  margin-top: 6em;
  margin-left: 28%;
}

#myHeader {
  position: fixed;
  width: 100%;
  background-color: white;
  top:0;
}

