.contain-messages-user {
    width: 70vw;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.contain-messages {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.messages {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    width:fit-content;
    height:fit-content;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.user-messages {
    background-color: rgb(130, 248, 130);
    border: 1px solid black;
    border-radius: 15px;
    border-top-right-radius: 0px;
    width:fit-content;
    height:fit-content;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}


.checkbox {
    display: none;
    margin-right: 1em; 
}

.content {
    font-size: larger;
}

.content-erased {
    font-size: medium;
    color: grey;
}

.author {
    color:white;
    background-color: rgb(54, 54, 54);
    font-size: large;
    border: 1px solid black;
    width:fit-content;
    height:fit-content;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: -5px;
}

.author-user {
    color:rgb(3, 3, 3);
    background-color: rgb(224, 240, 82);
    font-size: large;
    border: 1px solid black;
    width:fit-content;
    height:fit-content;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: -5px;
}


.sent-date {
    color: grey;
    font-size: smaller;
}

.aside {
    display: flex;
}