@font-face {
  font-family: "Luciole";
  src: url("./styles/fonts/Luciole-Regular.ttf");
  /* font-family: "Atkinson";
  src: url("./font/Atkinson-Hyperlegible-Regular-102.ttf");
  src: url("./font/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("./font/Atkinson-Hyperlegible-Regular-102.svg#filename") format("svg"); */
}

/* Atkinson Copyright  ©  2020,  Braille  Institute  of  America police spécialement élaborée pour aider à la lecture https://brailleinstitute.org/freefont */
/* Le caractère typographique Luciole a été conçu spécifiquement pour les personnes malvoyantes. Ce projet est le résultat de plus de deux années de collaboration entre le Centre Technique Régional pour la Déficience Visuelle et le studio typographies.fr. Le projet a bénéficié d'une bourse de la Fondation suisse Ceres et de l'appui du laboratoire DIPHE de l'Université Lumière Lyon 2. luciole-vision.com */
