.inline-blocks {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: sticky;
}

a, button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}