
/* .flexContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.HomePageButton {
  height: 300px;
  width: 250px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.deconnection-pic {
  width: 100px;
}
