body {
  margin: 0;
  font-family: "Cooper Hewitt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cooper Hewitt";
}

h6{
font-family: wfont_eda30d_c6204f29f0de403598447db1eeb6a584,wf_c6204f29f0de403598447db1e,orig_cooper_lt_bt_light;
}

.img_header{
  displayMode: fill;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 50px;
  padding-left: 20px;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  object-fit: cover;
  object-position: 50% 50%;
  top: 20px;
}

.nav_header{
  displayMode: fill;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 50px;
  padding-left: 20px;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  object-fit: cover;
  object-position: 50% 50%;
  top: 20px;

}

footer{
  margin-top: 10%;
}
