.welcome {
  position: fixed;
    top: 5em;
}

.side-bar-home {
    font-size: x-large;
    width: 28%;
    height: 100vh;
    background-color: #98AC37;
    color: white;
    margin-top: 5em;
}

.title {
  color: white;
}


/* Conteneur de la page */
.flexAsideList{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; 
  height: 100%;
  margin-top: 5%;
  /*font-size:20px;*/
  font-size:24px;
}

#create-conv {
  width: 90px;
}

#create-conv-container {
  text-align: right;
  position: fixed;
  right: 3em;
  bottom: 2em;
}

#create-contact {
  width: 110px;
}

#create-contact-msg {
  color: black;
}

#create-contact-container {
  text-align: left;
  position: fixed;
  left: 3em;
  bottom: 2em;
}

#create-conv {
  width: 90px;
}

/* Partie Contact / Side-bar */

.sideBarList{
  width: 30%;
  background-color: #98ac39;
  padding-bottom: 40%;
  color: whitesmoke;
}

.titreContact{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.7rem;
  border-color: white;
  border-width: 100%;
  font-weight: bold;
  letter-spacing: .2rem;

}

/* Partie Contact / Side-bar */

/*.sideBarList{
  width: 30%;
  background-color: #98ac39;
  padding-bottom: 40%;
  color: whitesmoke;
}

.titreContact{
  text-align: center;

}*/

/* Partie pour les conversations */
.conversation-list {
  width: 70%;
  background: linear-gradient(0.25turn, #4F3646, white);
  margin-top: 5.97em;
}

.titreConversation{
  color: black; opacity:1;
  border-bottom-style: solid;
  border-bottom-width: 0.7rem;
  border-color: white;
  border-width: 100%;
  font-weight: bold;
  text-align: center;
  letter-spacing: .2rem;
}

/* Tablette en mode portrait */

@media all and (min-width : 20px) and (max-width : 1000px) and (orientation: landscape) {
  /* Conteneur de la page */
  .flexAsideList{
    width: 100%; 
    height: 100%;
    margin-top: 10%;
    border-bottom-style: solid;
    border-color: white;
    border-width: 100%;
    font-size: 20px;
  }

  /* Partie Contact / Side-bar */

  .titreContact{
    padding-left: 15%;
    border-bottom-style: solid;
    border-color: white;
    border-width: 100%;
    font-size: 20px;

  }
  .sideBarList{
    width: 45%;
    background-color: #98ac39;
    padding-bottom: 70%;
    color: whitesmoke;
  }

  /* Partie pour les conversations */

  .conversation-list {
    width: 55%;
    /* background-color: #C4C4C4; */
    padding-bottom: 70%;
    font-size: 20px;
  }

  .titreConversation{
    color: black;
    border-bottom-style: solid;
    border-color: white;
    border-width: 100%;
    font-size: 20px;
  }
}
  
  /* Tablette en mode paysage */
  
@media all and (min-width : 20px) and (max-width : 1000px) and (orientation : portrait) {
  /* Conteneur de la page */
  .flexAsideList{
    width: 100%; 
    height: 100%;
    margin-top: 10%;
  }
  
  /* Partie Contact / Side-bar */
  
  .titreContact{
    border-bottom-style: solid;
    border-color: white;
    border-width: 100%;
    font-size: 20px;
  }
  .sideBarList{
    width: 45%;
    background-color: #98ac39;
    padding-bottom: 70%;
    color: whitesmoke;
  }
  
  /* Partie pour les conversations */
  
  .conversation-list {
    width: 55%;
    background-color: #C4C4C4;
    padding-bottom: 70%;
    font-size: 20px;
  }
  
  .titreConversation{
    color: black;
    border-bottom-style: solid;
    border-color: white;
    border-width: 100%;
    font-size: 20px;
  }
}
