
#create-conv {
  width: 90px;
}

#create-conv-container {
  text-align: right;
  margin-right: 3em;
  position: fixed;
  right: 3em;
  bottom: 2em;
}

#create-contact {
  width: 110px;
}

#create-contact-msg {
  color: black;
}

#create-contact-container {
  text-align: left;
  position: fixed;
  left: 3em;
  bottom: 2em;
}

.conversation-list {
  width: 60%;
  margin-left: 28%;
  margin-top: 6em;
}
