/* .img_header{
  displayMode: fill;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 50px;
  padding-left: 20px;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  object-fit: cover;
  object-position: 50% 50%;
  top: 20px;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  grid-template-columns: repeat(2, 50px);
  /*grid-template-rows: repeat(2, 50px);*/
}

.flexContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.homeButton {
  height: 300px;
  width: 250px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#create-conv {
  width: 90px;
}

#create-conv-container {
  text-align: right;
  margin-right: 3em;
  position: fixed;
  right: 3em;
  bottom: 2em;
}

#create-contact {
  width: 90px;
}

#create-contact-msg {
  color: black;
}

#create-contact-container {
  text-align: left;
  position: fixed;
  left: 4em;
  bottom: 2em;
}
