<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script> -->
    <script type="text/javascript">

    console.log('http://' + document.domain + ':' + location.port)
    var socket = io.connect('http://' + document.domain + ':' + location.port);
      console.log('socket', socket)
  
  socket.on( 'connect', function() {  // envoie un message à la fonction FLASK  
      socket.emit( 'message sent', {
          data: 'User Connected'} ) // renvoie la connexion d'un utilisateur
          var form = $( 'form' ).on( 'submit', function( e ) { // empêcher l'envoi du formulaire afin de récupérer la valeur des champs
              e.preventDefault()
              let message = $( 'input.message' ).val()
              console.log('message', message)
              let username = $( 'input.username' ).val()
              console.log('username', username)              
              if (message != ''){
                  socket.emit( 'message sent', {
                      username : username,
                      message : message
                      } )}
              $( 'input.message' ).val( '' )              
          } )
  } )
  
  socket.on( 'my response', function( msg ) {  // envoyer un message à toutes les sessions actives
  console.log( 'msg', msg )
  if( typeof msg.username !== 'undefined' ) {
      $( 'h3' ).remove()
      // la ligne ci-dessous est à adapter selon l'affichage de vos messages
      $( 'div.message_holder' ).append( 
        '<div class="message"><b style="color:#000">'+msg.username+'</b> '+msg.message+'</div>'
        );
      console.log( 'msg.username-message', msg.username, msg.message )
  }
  })
    </script>

  </body>
  </html>