h1 {
    text-align: center;
}
.box {
    margin: auto;
    width: 300px;
    margin-bottom: 30px;
}
textarea:focus, input:focus{
    outline: none;
}

.box input , select {
    width: 100%;
    border: none;
    background-color: #EEEEEE;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 25px;
    transition: box-shadow .25s ease;
}

textarea {
    border: none;
    background-color: #EEEEEE;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 15px;
    transition: box-shadow .25s ease;
}

.box input:hover , select:hover, textarea:hover {
    border: 1px solid grey
}
.input {
    height: 25px;
}

.button {
    text-align: center;
}
.button button {
    width: 100px;
    border: none;
    color: white;
    background-color: #3457B1;
    border-radius: 25px;
    padding: 8px;
}