appdirs==1.4.4
backports.entry-points-selectable==1.1.0
blinker==1.4
click==8.0.1
distlib==0.3.2
docutils==0.17.1
feedgenerator==1.9.1
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
npm==0.1.1
optional-django==0.1.0
pelican==4.6.0
pkgconfig==1.5.4
platformdirs==2.4.0
pycodestyle==2.7.0
pyglet==1.5.17
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
Unidecode==1.2.0
virtualenv==20.4.7
Werkzeug==2.0.1
